html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #1E1E2E;
    margin:0;
    padding:0;    
}

.sidebar{
    height:100%;
    width:0;
    min-width: 0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #41337A;
    overflow: hidden;
    padding-top:60px;
    transition:0.3s ease;
}

.sidebar.open{
    width:15%;
    min-width:250px;
    transition:0.3s;
}

.sidebar.open ~ #main {
    margin-left: Max(250px,15%);
    
}

.sidebar:not(.open) ~ #main {
    margin-left: 0;
}

.sidebar a{
    padding: 5px 5px 5px 15px;
    text-decoration: none;
    font-size:25px;
    color:#6EA4BF;
    display:block;
    transition:0.3s;
}

.sidebar a:hover {
    color:#C2EFEB;
}

.sidebar a.active {
    color:#C2EFEB;
    font-weight:bold;
}

.sidebar .btnClose {
    position:absolute;
    top:0;
    right:25px;
    font-size:36px;
    margin-left: 50px;
}

.sidebar .sidebar-selfie {
    width:50%;
    display:block;
    margin:auto;
    border:2px;
    border-style: solid;
    border-radius: 50%;
    border-color: #6EA4BF;
}

.sidebar .sidebar-title {
    width:100%;
    display:block;
    margin:auto;
    text-align: center;
    font-size: 20px;
    color: #6EA4BF;
    font-weight:bolder;
    text-wrap:nowrap;
}

.sidebar .sidebar-subtitle {
    width:80%;
    display:block;
    margin:auto;
    text-align: center;
    font-size: 14px;
    color: #6EA4BF;
    font-weight:bolder;
    text-wrap:wrap;
}

.btnOpen {
    font-size:20px;
    cursor:pointer;
    background-color: #41337A;
    color:white;
    padding: 10px 15px;
    border:none;
    border-bottom-right-radius:10%;
}

.btnOpen:hover {
    background-color: #444;

}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 2px;}
    .sidebar a {font-size: 20px;}
    .sidebar .sidebar-selfie {width:25%; margin-top: 20px;}
  }

#navSocials {
    color:#6EA4BF;
    font-size:2em;    
    left:0;
    bottom:0;
    display:flex;
    justify-content:center;
    position:sticky;
    overflow: hidden;
    width:100%;
}

#navFooter i{
    margin-right:10px;
    margin-bottom:1em;
    transition:0.3s;
}

#navFooter i:hover{
    color:#C2EFEB;
}

#main {
    transition: margin-left 0.3s;
}

#flexbox-container {
    display: flex;           /* establish flex container */
    flex-direction: row;  /* make main axis vertical */
    justify-content: space-evenly; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
}

.flexbox-item {
    min-height: 10vw;
    width:20%;
    margin: 5px;
    text-align: center;     /* will center text in <p>, which is not a flex item */
}

#bluebox {background-color: blue;}
#redbox { background: red; }

p {
    color: #D9E6EC;
}

h1 {
    color: #D9E6EC;
}
