body{
    /* background-color: rgba(255, 0, 0,0.75); */
    margin:0;
    padding:0;
}

#container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 300px;
}

.box {
    min-height: 10vw;
    width: 300px;
    margin: 5px;
    text-align: center;     /* will center text in <p>, which is not a flex item */
}

#bluebox { background: aqua; }
#redbox { background: red; }