<div id = "navSidebar" class="sidebar">
    <img src="img/selfie.jpg" class="sidebar-selfie">
    <p class="sidebar-title">Jamie Oliver</p>
    <div id="navFooter">
        <a href="https://twitter.com/JamieOTV" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.youtube.com/jamieotv" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.twitch.tv/JamieO" target="_blank"><i class="fa-brands fa-twitch"></i></a>
    </div>
    <a href="javascript:void(0)" id="btnClose" class="btnClose">&times;</a>
    <a href="#">Home</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>            
</div>